extends layout
block content
  div(class='container-fluid h-100')
    div(class="row justify-content-center h-100")
      div(class="col-md-8 col-xl-6 chat")
        div(class="card")
          div(class="card-header msg_head")
            div(class="d-flex bd-highlight")
              div(class="img_cont")
                img(src="/images/messenger-facebook-messenger-icon-clipart.png" alt="Messenger" class="rounded-circle user_img")
                span.online_icon
              div.user_info
                span Chat with Messenger
          div#messages(class="card-body msg_card_body")
          div.card-footer
            div.input-group
              div.input-group-append
                span(class="input-group-text attach_btn")
                  i(class="fas fa-paperclip")
              input(id="message" name="message" type='text' class="form-control type_msg" placeholder="Type your message...")
              div.input-group-append(id="sendButton")
                span(class="input-group-text send_btn")
                  i(class="fas fa-location-arrow")